.banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 385px;
    width: 100%;
    padding: 0 205px;
    display: flex;
    justify-content: space-between;
}

.banner__caption {
    color: #FAEBD7;   
    margin-top: 55px;
    width: 50%;

}

.banner__caption__heading {
    font-size: 45px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    font-weight: bold;
    animation: fadeinUp 1s ease-in-out;
}

.banner__caption__heading:hover {
    color: #B22830 !important;
}

.banner__caption__content {
    font-size: 18px;
    margin: 20px 0 48px;
    font-weight: bold;
    animation: fadeinUp 1s ease-in-out;
}

.btn-more {
    font-size: 18px;
    color: #fff;
    padding: 9px 62px;
    position: absolute;
    border: 1px solid;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    animation: fadeinUp 1s ease-in-out;
}

.btn-more-2 {
    font-size: 18px;
    color: #006400;
    padding: 9px 62px;
    border: 1px solid #006400;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    animation: fadeinUp 1s ease-in-out;
}

.btn-more-2:hover {
    background-color: #B22830;
    border-color: #B22830;
    color: #fff;
}

.btn-more:hover {
    background-color: #B22830;
    border-color: #B22830;
}

.banner__img {
    width: 50%;
    display: flex;
    align-self: flex-end;
    
}

.banner__img img {
    cursor: pointer;
    animation: fade ease-in-out 1s;
}